:root{
    --grey: #e7e7e7;
    --dark-grey: #C8C3BB;
    --text-color: black;
    --h1: 3rem;
    --h2: 1.8rem;
    --text-size: 1.3rem;
    --spacing: 1rem;
    --body-type: "Cardo", serif;
    --heading-type:"DM Serif Display", serif;
    --bg-color: #ebe1d4;
    
    /* for the dotted background in hero section */
   --dot-bg: #ebe1d4;
  --dot-color: rgba(0, 0, 0, 0.216);
  --dot-size: 0.1rem;
  --dot-space: 0.5rem;

  --grid-color:rgba(152, 152, 152, 0.216);

}

body{
    /* background-image: url(Images/plain-beige-paper-textured-background.jpg);
    background-repeat: repeat; */
    header{
            position: sticky;
            top: 0;
            
            nav{
                background: var(--bg-color);
                border-block-end:1rem solid;
    
                a{
                    font-size: var(--text-size);
                    display: block;
                    font-weight: 600;
                }
            
                ol{
                    display: flex;
                    justify-content: space-between;
                    
                    li{
                        flex-grow: 1;
                        border-inline-end:0.1rem solid;
                        text-align: center;
                    }
    
                    li:last-child{
                    border-inline-end:0;
                    }
    
                    .active{
                        background: black;
                    }
                }
            }
    
        }

         .hero{
                text-align: center;
                block-size: 70vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                
                /* dotted background */
                /* found this from https://codepen.io/edmundojr/pen/xOYJGw */
                
                background:linear-gradient(90deg, var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
                linear-gradient(var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
                var(--dot-color);
                
                h1{
                    font-family: var(--heading-type);
                    font-size: var(--h1);
                    font-weight: 700;
                    line-height: 100%;
                    padding-inline: 1rem;
                    flex-grow: 1;
                    align-content: center;

                    /* padding-block: calc(var(--spacing)*6); */
                    
                }
                
                mark{
                    background-color: var(--highlighter-color);
                }
                
                section{
                   
                    padding-inline: var(--spacing);
                    padding-block: calc(var(--spacing)/2);
                    display: flex;
                    justify-content: space-between;
                    background: var(--bg-color);
                    
                    /* border-block-start:1rem solid; */
                    p{
                        font-weight: 600;
                        font-size: 1.2rem;
                    }
                }
        }

        article{
            h2{
                font-size: var(--h2);
                margin-block-end:var(--spacing);
                font-weight: 600;
            }
        }

}
