:root{
    --grey: #e7e7e7;
    --dark-grey: #C8C3BB;
    --text-color: black;
    --h1: 3rem;
    --h2: 1.8rem;
    --text-size: 1.2rem;
    --spacing: 1rem;
    --body-type: "Cardo", serif;
    --heading-type:"DM Serif Display", serif;
    --bg-color: #ebe1d4;
    
    /* for the dotted background in hero section */
   --dot-bg: #ebe1d4;
  --dot-color: rgba(0, 0, 0, 0.216);
  --dot-size: 0.1rem;
  --dot-space: 0.5rem;
  --grid-color:rgba(152, 152, 152, 0.216);
}

p{
    font-size: var(--text-size);
}

/* Breakpoints for page paddings */
@media(width>650px){
    :root{
        /* --spacing: 1.5rem; */
    }

}

@media(width>1000px)
{
:root{
    --spacing:1.5rem;
        --h1: 4.3rem;
}
}



body{

    header{
        position: sticky;
        top: 0;
        
            nav{
                background: var(--bg-color);
                border-block-end:1rem solid;
    
                a{
                    font-size: var(--text-size);
                    display: block;
                    font-weight: 600;
                }
            
                ol{
                    display: flex;
                    justify-content: space-between;
                    
                    li{
                        flex-grow: 1;
                        border-inline-end:0.1rem solid;
                        text-align: center;
                    }
    
                    li:last-child{
                    border-inline-end:0;
                    }
    
                    .active{
                        background: black;
                    }
                }
            }
    
        }

    .hero{
        text-align: center;
        block-size: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
        span{
            background-color: var(--highlighter-color);
        }

        /* dotted background */
        /* found this from https://codepen.io/edmundojr/pen/xOYJGw */
        background:linear-gradient(90deg, var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
        
        /* article title */
        h1{
            font-family: var(--heading-type);
            font-size: var(--h1);
            font-weight: 700;
            line-height: 100%;
            padding-inline: calc(var(--spacing)*2);
            flex-grow: 1; /* for making it sit in the middle*/
            align-content: center;
        }
        
        /* Author section */
        section{
            padding-inline: var(--spacing);
            padding-block: calc(var(--spacing)/2);
            display: flex;
            justify-content: space-between;
            background: var(--bg-color);
            
            /* border-block-start:1rem solid; */
            p,a{
                font-weight: 600;
                font-size: 1rem;
            }
        }

        @media (width>1000px) {
        block-size: 100%;
        h1{
                padding-block: calc(var(--h1)*1.5);

            }


            section{
            /* padding-inline: calc(var(--spacing)*5); */
            padding-block: 0.2rem;
            }
            
        }

        }

        article{
            padding-inline: calc(var(--spacing)*1.5);
            padding-block-start: calc(var(--spacing)*4) ;
            
            h2{
                font-size: var(--h2);
                margin-block-end:var(--spacing);
                font-weight: 800;
            }

            p{
                padding-block-end: calc(var(--spacing)*4);
            }

            p:last-child{
                padding-block-end:0;
            }

            a{
                text-decoration: underline;
            }

            a:hover{
                /* background-color: var(--highlighter-color); */
                color: blue;
            }

            blockquote{
                
                padding-inline: var(--spacing);
                padding-block:calc(var(--spacing)*2);
                margin-block-end:calc(var(--spacing)*4);
                text-align: center;
                
                /* quote */
                p:first-child{
                    font-size: calc(var(--text-size)*1.1);
                    padding-block-end: 0;
                    font-weight: 800;
                }
                
                /* writer */
                p:nth-child(2){
                    margin-block-start: 2rem;
                    padding-block-end: 0;
                    font-weight: 700;
                }
                
            }
            
            /* first blockquote's design clashes with the border of the hero section so made it different */
            .first-blockquote{
                border: none;
                padding: 0;
                background: none;
                font-style: italic;
                font-weight: 600;
            }
        
        }

}
