:root{
    --bg-color: pink;
    --fg-color: red;
}

@media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
}
}

body{
    background-color: var(--bg-color);
}