:root{
    --spacing:1rem;
     --bg-color: #E6E6E6;
     --h1:6rem;
     --hero-type:"Imbue",serif;
     --h2:1.8rem;
     --h3:1.8rem;
}

@media (width>600px) {
    :root{
        --h3: 1.5rem;
    }
}

@media (width>1000px) {
    :root{
        --h1:26rem;
        --hero-type:"Imbue",serif;
        --h2:1.8rem;
        --h3:1.8rem;
    }
}

body{
    font-family:var(--body-type);

    main{
        .hero{
                background: none;

                section{
                        border-block-start: 1rem solid;
                        border-block-end: 0.1rem solid;
                        padding-inline: 1rem;
                        padding-block: calc(var(--spacing)/4);
                } 
            }

        .content, .additional-info{
                display: grid;
                grid-template-columns: 1fr;
                padding: var(--spacing);

                /* Article section */
                section{
                    border-block-end: 0.1rem solid;

                    h2{
                        font-size: var(--h2);
                        font-weight: 600;
                        margin-block-start: var(--spacing)
                    }

                    /* second column in list of articles */
                    ul>li:first-child{
                        padding-block-end: calc(var(--spacing)*2);
                        margin-block-end: calc(var(--spacing)*2);
                    }

                    li:first-child{
                        border-block-end: 0.1rem solid;
                    }

                    /* number backgrounds */
                    .neomania-bg, .cult-of-the-ugly-bg,.under-the-surface-of-style-bg{
                        align-content: center;
                        display: block;


                        p{
                            font-size: 8rem;
                            text-align: center;
                            font-family: var( --hero-type);
                            padding-block: calc(var(--spacing)*2);
                        }
                    }

                    .neomania-bg{
                        background-color: #7FFFF2;

                        p{
                            font-size: calc(var(--h2)*4);
                        }
                    }

                    .cult-of-the-ugly-bg,.under-the-surface-of-style-bg{
                        background-color: #FFAFC0;

                        p{
                            padding-block: calc(var(--spacing));
                        }

                    }

                    .under-the-surface-of-style-bg{
                        background-color: #FFD77F;
                    }

                    .content-article-link{
                        pointer-events: none;
                    }

                    section{
                        border-block-start: 0.2rem solid;
                        border-block-end: 0.2rem dashed;
                    }


                    }
            
                section:first-child{
                border-inline-end: 0.1rem solid;

                }
            }

            .additional-info{
                grid-template-columns: 2fr 1fr;

            }

            @media (width>800px) {
                grid-template-columns: 1fr 2fr 1fr;
                
                section:nth-child(1){
                order:1;
            }

            section:nth-child(2){
                order: 2;
            }

            section:nth-child(3){
                order: 3;
            }
            }
        }

    
}

@media (width>1000px) {
    body{
        main{
            .content, .additional-info{
                grid-template-columns: 1fr 1fr;
                padding: 0;

             
                section{
                padding: calc(var(--spacing)*2);

                .content-article-link{
                    pointer-events: auto;
                }
                }
            }
        }
    }
}
