:root{
    --spacing:1rem;
     --bg-color: #E6E6E6;
     --h1:7rem;
     --hero-type:"Imbue",serif;
     --h2:1.8rem;
     --h3:1.8rem;
}

@media (width>600px) {
    :root{
        --h3: 1.5rem;
    }
}

body{
    background: var(--bg-color);

    main{
        .hero{
        block-size: 100%;
        background: none;

            h1{
                font-size:var(--h1);
                font-family: var(--hero-type);
                padding-inline: var(--spacing);
            padding-block: calc(var(--spacing)/2);

            }

            section{
                    border-block-start: 1rem solid;
                    border-block-end: 0.1rem solid;
                    padding-inline: 1rem;
            padding-block: calc(var(--spacing)/4);

            }
        }
        .content{
                display: grid;
                grid-template-columns: 1fr;
                padding-inline: var(--spacing);


            section:nth-child(1){
                order:3;
            }

            section:nth-child(2){
                order: 1;
            }

            section:nth-child(3){
                order: 2;
            }

            section{
                border-block-end: 0.1rem solid;
                padding-block:calc(var(--spacing)*2) ;

                h2{
                    font-size: var(--h2);
                    font-weight: 600;
                }

                ul>li{
                    padding-block-end: calc(var(--spacing)*2);
                    h3{
                        font-size: var(--h3);
                    }
                }
            }

            @media (width>800px) {
                grid-template-columns: 1fr 2fr 1fr;
                
                section:nth-child(1){
                order:1;
            }

            section:nth-child(2){
                order: 2;
            }

            section:nth-child(3){
                order: 3;
            }
            }
        }
    }
}