:root{
    --bg-color: black;
    --accent-color:#C5F306;
    --text-color: #b0b0b0;
    --h1: 4rem;
    --h2: 2rem;
    --heading-color:white;
    --text-size: 1rem;
    --spacing: 3rem;
    --heading-type: "Bebas Neue", sans-serif;
    --body-type:"Open Sans", sans;
}

 em{
        font-style: italic;
    }

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--text-size);
    font-family: var(--body-type);
    text-wrap: pretty;

    header{
        position: sticky;
        top: 0;
        
        nav{
            background: var(--bg-color);
            border-block-end:0.1rem solid var(--accent-color);

            a{
                font-size: var(--text-size);
                display: block;
            }
        
            ol{
                display: flex;
                justify-content: space-between;
                
                li{
                    flex-grow: 1;
                    border-inline-end:0.1rem solid var(--accent-color);
                    text-align: center;
                    color: var(--accent-color);
                }

                li:last-child{
                border-inline-end:0;
                }

                li:nth-child(4){
                    background: var(--accent-color);
                    color: var(--bg-color);
                }
            }
        }

    }

    main{

       .hero{
            h1,h2{
                        font-size: var(--h1);
                        font-family: var(--heading-type);
                        color: var(--heading-color);
                    }
                    
                    h1{
                        line-height: 110%;
                    }
                
                    h2{
                        font-size: var(--h2);
                    }
       } 
        

        article{
            padding: calc(var(--spacing)/2);

            p{
                line-height: 150%;
            }
        }
    }

   
    }
    
}

@media (width>1000px) {
    :root{
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

}
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */