:root{
    --bg-color: #2A2723;
    --fg-color: red;
    --text-color: #f2bea4;
    --h1: 8rem;
    --h2: 6rem;
    --text-size: 3rem;
    --spacing: 6rem;
    --heading-type: "Bebas Neue", sans-serif;
    --body-type:"Courier Prime", monospace;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 3rem;
    font-size: var(--text-size);
    font-family: var(--body-type);

    *{
        margin-bottom: var(--spacing);
    }

    h1,h2{
        font-size: var(--h1);
        font-family: var(--heading-type);
    }
    
    h2{
        font-size: var(--h2);
    }
    
    nav>ol{
        display: flex;
    }

    em{
        font-style: italic;
    }

    
}

@media (width>1000px) {
    :root{
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

}
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */