:root{
    --bg-color: black;
    --fg-color: red;
    --text-color: #b0b0b0;
    --h1: 4rem;
    --h2: 2rem;
    --heading-color:white;
    --text-size: 2rem;
    --spacing: 3rem;
    --heading-type: "Bebas Neue", sans-serif;
    --body-type:"Courier Prime", monospace;
}

 em{
        font-style: italic;
    }

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--text-size);
    font-family: var(--body-type);
    text-wrap: pretty;

    header{

        h1,h2{
            font-size: var(--h1);
            font-family: var(--heading-type);
            color: var(--heading-color);
        }
        
        h1{
            line-height: 110%;
        }
    
        h2{
            font-size: var(--h2);
        }
        
        nav>ol{
            display: flex;
        }

    }

    main{
        article{
            padding: calc(var(--spacing)/2);

            p{
                line-height: 150%;
            }
        }
    }

   

    
}

@media (width>1000px) {
    :root{
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

}
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */