:root{
    --bg-color: black;
    --accent-color:#C5F306;
    --text-color: #b0b0b0;
    --h1: 4rem;
    --h2: 2rem;
    --heading-color:white;
    --text-size: 1rem;
    --spacing: 3rem;
    --heading-type: "Bebas Neue", sans-serif;
    --body-type:"Open Sans", sans;
}

 em{
        font-style: italic;
        color: var(--accent-color);
    }

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--text-size);
    font-family: var(--body-type);
    text-wrap: pretty;

    header{
        position: sticky;
        top: 0;
        
        nav{
            background: var(--bg-color);
            border-block-end:0.1rem solid var(--accent-color);

            a{
                font-size: var(--text-size);
                display: block;
            }
        
            ol{
                display: flex;
                justify-content: space-between;
                
                li{
                    flex-grow: 1;
                    border-inline-end:0.1rem solid var(--accent-color);
                    text-align: center;
                    color: var(--accent-color);
                }

                li:last-child{
                border-inline-end:0;
                }

                li:nth-child(4){
                    background: var(--accent-color);
                    color: var(--bg-color);
                }
            }
        }

    }

    main{

       .hero{
            padding-inline: calc(var(--spacing)/2);
            padding-block: calc(var(--spacing)*2);

            
            h1{
                font-size: var(--h1);
                font-family: var(--heading-type);
                color: var(--heading-color);
                line-height: 110%;
                    }
        } 
                
        article{
            padding-inline: calc(var(--spacing)/2);
            padding-block-start: var(--spacing);
            margin-block-end:calc(var(--spacing));
            
            h2{
                font-size: var(--h2);
                font-family: var(--heading-type);
                color: var(--heading-color);
                padding-block-end:1rem;

            }
            
            p{
                line-height: 150%;
                padding-block-end: calc(var(--spacing)*1.5);
            }

            p:last-child{
                padding-block-end:0;

            }

            blockquote{
                margin-block-end:calc(var(--spacing)*1.5);

                p{
                    display: inline;
                    background-color: var(--accent-color);
                    padding: 0;
                    color: var(--bg-color);
                    font-weight: 600;
                }

            }
       }

    }
    footer{
         display: flex;
         flex-direction: column;
         padding-block-start: calc(var(--spacing)/2);
        border-block-start:0.1rem solid var(--accent-color);


         
         a:not(:last-child){
            padding-inline: calc(var(--spacing)/3);
            padding-block-end:calc(var(--spacing)/2);
            color: var(--accent-color);
            font-family: var(--heading-type);
            font-size: calc(var(--text-size)*2);
         }

         a:last-child{
            background-color: var(--accent-color);
            padding: 0.5rem;
            color: var(--bg-color);
            text-align: center;
         }
    }

   
    }
    


@media (width>1000px) {
    :root{
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

}
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */