:root{
    --bg-color: rgb(255, 255, 255);
    --fg-color: red;
    --text-color: black;
    --h1: 12rem;
    --h2: 5rem;
    --text-size: 3rem;
    --spacing: 6rem;
    font-family: "Libre Caslon Display", serif;;
}


    em{
        font-style: italic;
    }

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 3rem;
    font-size: var(--text-size);


    header{
        section{
            block-size: 80vh;
        }

        h1{
            font-size: var(--h1);
            font-weight: 600;
        }

        nav>ol{
            display: flex;
        }
    }

    main{
        article{

            p{
                padding-block-end: var(--spacing);
            }

            h2{
                font-size: var(--h2);
                padding-block-end: calc(var(--spacing)/3);
                font-weight: 600;
            }

            blockquote{
                border-block:0.2rem solid;
                padding: 2rem;
                padding-block-end: 0;
                margin-block-end:var(--spacing);

                p{
                    padding-block-end: 2rem;
                }

                p:first-child{
                    font-size: 5rem;
                    font-family: ;
                }
            }
        }

    }
    

    
}

@media (width>1000px) {
    :root{
    --text-color: black;
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

}
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */