:root{
    --bg-color: rgb(255, 255, 255);
    --fg-color: red;
    --text-color: black;
    --h1: 12rem;
    --h2: 5rem;
    --text-size: 3rem;
    --spacing: 3rem;
    font-family: "Libre Caslon Display", serif;;
}


    em{
        font-style: italic;
    }

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--text-size);
    

    header{
        section{
            block-size: 80vh;
            padding: 3rem;
        }

        h1{
            font-size: var(--h1);
            font-weight: 600;
        }

        nav{

        }
        nav>ol{
            display: flex;
        }

    }

    main{
        article{
            padding: var(--spacing);

            p{
                padding-block-end: calc(var(--spacing)*2);
            }

            h2{
                font-size: var(--h2);
                padding-block-end: calc(var(--spacing));
                font-weight: 600;
            }

            mark{
                background-color: yellow;
            }

            blockquote{
                border-block:0.1rem solid;
                padding-inline: 2rem;
                padding-block:4rem;
                margin-block-end:calc(var(--spacing)*2);


                p:first-child{
                    font-size: 5rem;
                    padding-block-end: 0;

                }
                
                p:nth-child(2){
                    color: rgb(119, 119, 119);
                    padding-block-start: 2rem;
                    padding-block-end: 0;
                }

            }

            blockquote:nth-last-child(2){
                border-block-end: 0;
                margin-block-end: 0;
            }
        }

    }

    footer{

    }
    

    
}

@media (width>1000px) {
    :root{
    --text-color: black;
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

}
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */