:root{
    --bg-color: white;
    --fg-color: red;
    --text-color: black;
    --h1: 3rem;
    --text-size: 3rem;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 3rem;
    font-size: var(--text-size);
    
}

@media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
}