:root{
    --bg-color:#fceef1;
}



body{
    /* background-color: var(--bg-color); */
    color: var(--text-color);
    background-size: auto;
    font-size: var(--text-size);
    font-family: var(--body-type);
    

    header{
        

        nav{
            .active{
                a{
                    color: var(--article-2-highlight-color);
                }

                a:hover{
                    background-color: black;
                }
            }
        }

	
    }

    main{
        
        /* Article border */
        /* Solid */

        .hero{
            
            h1{
                background-color: var(--article-2-highlight-color);
                color: var(--article-2-text-color);
            }

            section{
                    border-block-start: 0.2rem solid;
                    border-block-end: 1rem solid;
            }
        }
       

        article{

            p:last-child{
                padding-block-end:0;
            }

            a:hover{
                    /* background-color: var(--highlighter-color); */
                    color: var(--article-2-text-color);
                }



            mark{
                background-color: var(--article-2-highlight-color);
            }

            
            blockquote{
                border-block-start:0.2rem solid;
                border-block-end:0.2rem solid;
            }

            .first-blockquote{
                background-color: inherit;
                border: 0;

                p{
                  font-size: calc(var(--text-size)*1.4);
                }
                
            }
            
            
        }

        .final-quote{
            border-block-start:0.3rem solid;
            background-color: var(--article-2-highlight-color);

            p{
                    color: var(--article-2-text-color);
            }
           
        }
    }


    
    

    
}
/* 
@media (width>1000px) {
    :root{
    --text-color: black;
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

} */
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */