:root{
    --highlighter-color: #7FFFF2;
}

em{
    font-style: italic;
    font-weight: 600;
}

body{
    background-color: var(--bg-color);
    background-image: url('/Images/noise-light.png');
    background-repeat: repeat;
    color: var(--text-color);
    background-size: auto;
    font-size: var(--text-size);
    font-family: var(--body-type);
    

    header{
        

        nav{
            .active{
                a{
                    color: var(--highlighter-color);
                }
            }
        }

	
    }

    main{
        
        .hero{
            section{
                    border-block-start: 0.2rem solid;
                    border-block-end: 0.2rem dashed;

            }
        }
       

        article{
            padding-inline: calc(var(--spacing)*1.5);
            padding-block-start: calc(var(--spacing)*4) ;

            p{
                padding-block-end: calc(var(--spacing)*4);
            }

            p:last-child{
                padding-block-end:0;
            }



            mark{
                background-color: yellow;
            }

            
            blockquote{
                border:0.5rem double;
                background-color: var(--dark-grey);
                padding-inline: var(--spacing);
                padding-block:calc(var(--spacing)*1.5);
                margin-block-end:calc(var(--spacing)*4);
                text-align: center;
                
                
                p:first-child{
                    /* font-size: calc(var(--text-size)*1.1); */
                    padding-block-end: 0;
                    font-weight: 800;
                }
                
                p:nth-child(2){
                    color: rgb(119, 119, 119);
                    padding-block-start: 0.5rem;
                    padding-block-end: 0;
                }
                
            }
            
            blockquote:nth-last-child(2){
                border-block-end: 0;
                margin-block-end: 0;
            }
            
            blockquote:last-child{
                border-block-end: 0;
            }
            
            .first-blockquote{
                border: none;
                padding: 0;
                background: none;
                font-style: italic;
                font-weight: 600;
                /* background: var(--grey); */
                /* margin-block-end:calc(var(--spacing)*3) ; */
            }
        }

        .final-quote{
                 border-block:0.1rem solid;
                 padding-inline: var(--spacing);
                 padding-block: calc(var(--spacing)*3);
                 background: var(--grey);

                 p:first-child{
                    font-weight: 700;
                    font-size: 2rem;
                    margin-block-end: var(--spacing);
                 }
           
        }
    }


    footer{
        display: flex;
        flex-direction: column;
        background-color: var(--grey);
        
        a{
            padding-inline: var(--spacing);
            padding-block: calc(var(--spacing)/2);
        }

        a:after{
            content: "↗";
        }

        a:last-child{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 1rem;
        }
        
        a:last-child:after{
        content: none;
        }

        a:first-child, a:last-child{
            margin-top: var(--spacing);
        }
    }
    

    
}

@media (width>1000px) {
    :root{
    --text-color: black;
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

}
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */