:root{
    --bg-color:#f5fcfd;
}

em{
    font-style: italic;
    font-weight: 600;
}

mark{
    background-color: var(--article-1-highlight-color);
}

body{
    color: var(--text-color);
    font-size: var(--text-size);
    font-family: var(--body-type);
    

    header{
        nav{
            .active{
                a{
                    color: var(--article-1-highlight-color);
                }

                a:hover{
                    background-color: black;
                }
            }
            
        }
    }

    main{
        
        /* Article border */
        .hero{

            h1{
                background-color: var(--article-1-highlight-color);
                color: var(--article-1-text-color);
            }

            section{
                    border-block-end: 0.2rem dotted;
            }
        }
       

        article{

            p:last-child{
                padding-block-end:0;
            }

            mark{
                background-color: var(--article-1-highlight-color);
            }

            a:hover{
                    /* background-color: var(--highlighter-color); */
                    color: var(--article-1-text-color);
                }
            
            blockquote{
                border:0.2rem dotted;
                background-color: var(--grey);
                
            }
        }

        .final-quote{
            background-color: var(--article-1-highlight-color);
            border-block-start:0.2rem dotted;

            p{
                    color: var(--article-1-text-color);
            }
           
        }
    }


}

/* @media (width>1000px) {
    :root{
    --text-color: black;
    --h1: 8rem;
    --text-size: 1.2rem;
    --spacing: 2rem;
}


} */

/* 

} */
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */