:root{
    --highlighter-color: #7FFFF2;
    --bg-color:#f5fcfd;
}

em{
    font-style: italic;
    font-weight: 600;
}

body{
    background-color: var(--bg-color);
    background-image: url('/Images/noise-light.png');
    background-repeat: repeat;
    color: var(--text-color);
    background-size: auto;
    font-size: var(--text-size);
    font-family: var(--body-type);
    

    header{
        

        nav{
            .active{
                a{
                    color: var(--highlighter-color);
                }
            }
        }

	
    }

    main{
        
        /* Article border */
        /* dashed */
        .hero{

            background-image:
            linear-gradient(to bottom, var(--grid-color) 0.1rem, transparent 0.1rem);

            background-color: var(--bg-color);
            section{
                    border-block-start: 0.2rem solid;
                    border-block-end: 0.2rem dashed;

            }
        }
       

        article{
            padding-inline: calc(var(--spacing)*1.5);
            padding-block-start: calc(var(--spacing)*4) ;

            p{
                padding-block-end: calc(var(--spacing)*4);
            }

            p:last-child{
                padding-block-end:0;
            }



            mark{
                background-color: yellow;
            }

            
            blockquote{
                border:0.2rem dashed;
                background-color: var(--grey);
                
            }
        }

        .final-quote{
                 border-block-end:0.2rem dashed;
                 border-block-start:0.2rem solid;
                 padding-inline: var(--spacing);
                 padding-block: calc(var(--spacing)*3);
                 background: var(--grey);

                 p:first-child{
                    font-weight: 700;
                    font-size: 2rem;
                    margin-block-end: var(--spacing);
                 }
           
        }
    }


    footer{
        display: flex;
        flex-direction: column;
        background-color: var(--grey);
        
        a{
            padding-inline: var(--spacing);
            padding-block: calc(var(--spacing)/2);
        }

        a:after{
            content: "↗";
        }

        a:last-child{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 1rem;
        }
        
        a:last-child:after{
        content: none;
        }

        a:first-child, a:last-child{
            margin-top: var(--spacing);
        }
    }
    

    
}

/* @media (width>1000px) {
    :root{
    --text-color: black;
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

} */
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */