:root{
}

em{
    font-style: italic;
    font-weight: 600;
}

mark{
    background-color: var(--article-3-highlight-color);
}

body{
    color: var(--text-color);
    font-size: var(--text-size);
    font-family: var(--body-type);
    

    header{
        

        nav{
            .active{
                a{
                    color: var(--article-3-highlight-color);
                }

                a:hover{
                    background-color: black;
                }

            }
        }

	
    }

    main{

        .hero{

            h1{
                background-color: var(--article-3-highlight-color);
                color: var(--article-3-text-color);
            }

            /* Article border */
            /* double */
            section{
                    border-block-start: 0.2rem solid;
                    border-block-end: 0.3rem double;

            }
        }

        article{

            a:hover{
                    /* background-color: var(--highlighter-color); */
                    color: var(--article-3-text-color);
                }
           
            

           blockquote{
            /* border:0.5rem double; */
                background-color: var(--grey);
                border: 0.3rem double;
                border-radius: 1rem;
                corner-shape: notch;

                p:first-child{
                    font-size: calc(var(--text-size)*1.4);
                }
           }

           .first-blockquote{
                background-color: inherit;
                border: 0;
            }
        }

        article:first-of-type{
         padding-block-end:0;
        }

        .final-quote{
            background-color: var(--article-3-highlight-color);
            border-block-start:0.3rem double;


            p{
                    color: var(--article-3-text-color);
            }
           
        }
    }


    

    
}

/* @media (width>1000px) {
    :root{
    --text-color: black;
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

} */
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */