:root{
    --highlighter-color: #FFD77F;
    --h1:8rem;
}

em{
    font-style: italic;
    font-weight: 600;
}

body{
    background-color: var(--bg-color);
    background-image: url('/Images/noise-light.png');
    background-repeat: repeat;
    color: var(--text-color);
    background-size: auto;
    font-size: var(--text-size);
    font-family: var(--body-type);
    

    header{
        

        nav{
            .active{
                a{
                    
                    color: var(--highlighter-color);
                }
            }
        }

	
    }

    main{
        
       /* Article border */
        /* double */
        .hero{
            section{
                    border-block-start: 0.2rem solid;
                    border-block-end: 0.6rem double;

            }
        }
        article{
            
           blockquote{
            border:0.5rem double;
                background-color: var(--grey);
           }
        }
    }


    footer{
        display: flex;
        flex-direction: column;
        background-color: var(--grey);
        
        a{
            padding-inline: var(--spacing);
            padding-block: calc(var(--spacing)/2);
        }

        a:after{
            content: "↗";
        }

        a:last-child{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 1rem;
        }
        
        a:last-child:after{
        content: none;
        }

        a:first-child, a:last-child{
            margin-top: var(--spacing);
        }
    }
    

    
}

/* @media (width>1000px) {
    :root{
    --text-color: black;
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

} */
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */