:root{
    --bg-color: white;
    --text-color: black;
    --heading-color: #3521EE;
    --grid-color: #EEEEEE;
    --h1: 8rem;
    --text-size: 3rem;
    --spacing: 6rem;
    --line-height: 140%;
    --border-thickness: 3rem;
}

p{
    margin-bottom: var(--spacing);
}

p:last-child{
    margin-bottom: 0;
}

em{
    font-style: italic;
} 

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--text-size);
    line-height: var(--line-height);
    font-family:"Open Sans", sans-serif;

    /* Grid background */
    /* Used this code to create the grid background https://codepen.io/naprirfan/pen/xEvRae */
    background-image: 
                    linear-gradient(var(--grid-color) .1em, transparent .1em), linear-gradient(90deg, var(--grid-color) .1em, transparent .1em);
   
                    background-size: var(--border-thickness) var(--border-thickness);

    .italic{
        font-style: italic;
    }

    header{
        nav>ol{
            display: flex;
        }   
    }

    main{
        .hero{
            padding-inline: var(--spacing);
            padding-block: calc(var(--spacing)*2);

            h1{
                font-size: var(--h1);
                line-height: 110%;
                color: var(--heading-color);
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                margin-block-end: calc(var(--spacing)/2);
            }
            
            
            section{
                background: white;
                padding: calc(var(--spacing)/2);
                border:0.5rem solid var(--grid-color);
            }
        }

        
        article{
            background: white;
            inline-size: 100%;
            padding: var(--spacing);
            border-block-start:0.5rem solid var(--grid-color) ;
        }
        

        
    }

    footer{
        background-color: brown;

        
    }

    
    
}

@media (width>1000px) {
    :root{
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

}
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */