:root{
    --bg-color: black;
    --text-color: rgb(215, 215, 215);
    --h1: 8rem;
    --text-size: 3rem;
    --spacing: 6rem;
    --line-height: 140%;
}

p{
    margin-bottom: var(--spacing);
}

p:last-child{
    margin-bottom: 0;

}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--text-size);
    line-height: var(--line-height);


    header{
        nav>ol{
            display: flex;
        }   
    }

    main{
        
        .hero{
            background-color: red;
            padding: var(--spacing);
        }

        h1{
            font-size: var(--h1);
            line-height: 100%;
        }     
        

        em{
            font-style: italic;
        } 
        
    }

    footer{
        background-color: brown;

        
    }

    
    
}

@media (width>1000px) {
    :root{
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

}
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */