:root{
    --bg-color: white;
    --text-color: black;
    --accent-color: #BC0D0D;
    --grid-color: #EEEEEE;
    /* --secondary-text-color:#565656; */
    --h1: 2.5rem;
    --text-size: 1.2rem;
    --spacing: 2rem;
    --line-height: 150%;
    --border-thickness: 1rem;
}

p{
    margin-bottom: calc(var(--spacing)*1.5);
    line-height: var(--line-height);
}

p:last-child{
    margin-bottom: 0;
}


body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--text-size);
    line-height: var(--line-height);
    font-family:"Open Sans", sans-serif;

    /* Grid background */
    /* Used this code to create the grid background https://codepen.io/naprirfan/pen/xEvRae */
    background-image: 
                    linear-gradient(var(--grid-color) .1em, transparent .1em), linear-gradient(90deg, var(--grid-color) .1em, transparent .1em);
   
    background-size: var(--border-thickness) var(--border-thickness);

    .italic, em, a{
        font-style: italic;
         font-weight: 600;
    }


     

    header{

        position: sticky;
        top: 0;
        
        nav{
            background: var(--grid-color);
            border-block-end:0.1rem solid var(--accent-color);

            a{
                font-size: var(--text-size);
                display: block;
            }
        
            ol{
                display: flex;
                justify-content: space-between;
                
                li{
                    flex-grow: 1;
                    border-inline-end:0.1rem solid var(--accent-color);
                    text-align: center;
                }

                li:last-child{
                border-inline-end:0;
                }

                li:nth-child(3){
                    background: var(--accent-color);
                    color: var(--grid-color);
                }
            }
        

    }
    }

    main{
        .hero{
            padding-inline: var(--spacing);
            padding-block: calc(var(--spacing)*3);

            h1{
                font-size: var(--h1);
                line-height: 90%;
                font-family: "Space Grotesk", sans-serif;
                font-weight: 900;
                margin-block-end: calc(var(--spacing)/2);
            }
            
            
            section{
                background: white;
                padding: calc(var(--spacing)/2);
                border:0.3rem solid black;
            }

            mark{
                color: var(--accent-color);
            }
        }

        
        article{
            background: white;
            inline-size: 100%;
            padding: calc(var(--spacing)/1.5);
            padding-block-start: calc(var(--spacing)*1.5);
            border-block-start:0.2rem solid var(--grid-color) ;

            mark{
                background-color: var(--grid-color);
            }

           a{
             text-decoration: underline;
            color: var(--accent-color);
            }

            blockquote{
                background-color: var(--grid-color);
                padding: calc(var(--spacing)/2);
                border: 0.2rem var(--text-color) dotted;
                margin-block-end: calc(var(--spacing)*1.5);

                p{
                    font-weight: 500;
                    font-family: "Space Grotesk", sans-serif;
                    margin-bottom: 0;
                    font-size: 1.2rem;
                }

                p:nth-child(2){
                    opacity: 60%;
                    font-size: var(--text-size);
                    margin-block-start: calc(var(--spacing)/2);
                }

            }
        }
        

        
    }

    footer{
        background-image: 
                    linear-gradient(var(--grid-color) .1em, transparent .1em), linear-gradient(90deg, var(--grid-color) .1em, transparent .1em);

        padding-block-start: 1rem;
        border-block-start:0.2rem solid var(--grid-color);
        display: flex;
        flex-direction: column;

        /* a{
            margin-block-end: calc(var(--spacing)/2);
        } */

        a:not(:last-child){
            padding: calc(var(--spacing)/2);
            /* padding-block-end:calc(var(--spacing)/2); */
            color: var(--accent-color);
            font-family: var(--heading-type);
            font-size: calc(var(--text-size)*1.2);
            /* background: white; */
            /* display: inline; */
         }

         a:last-child{
            background-color: var(--accent-color);
            padding: 0.5rem;
            color: var(--bg-color);
            text-align: center;
            margin-block-start: 1rem;
         }
        
    }

    
    
}

@media (width>1000px) {
    :root{
    --h1: 8rem;
    --text-size: 1.5rem;
    --spacing: 4rem;
}

}
/* @media (prefers-color-scheme: dark) {
    :root{
    --bg-color: green;
    --fg-color: black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
} */